---
import { Path } from "@/app/config/path.config";
import { formatDate } from "@/infrastructure/utils/date.util";
import SectionHeader from "@/infrastructure/components/ui/SectionHeader.astro";
import type { Post } from "@/modules/post/post.type";
import { SiteConfig } from "@/app/config/site.config";

interface Props {
  posts: Post[];
  title?: string;
}

const { posts, title = "Most Read This Week" } = Astro.props;
---

<div>
  <SectionHeader title={title} />
  <div class="space-y-4">
    {
      posts.map((post) => (
        <a href={Path.post.detail(post.slug)} class="flex gap-3 group">
          <div class="w-16 h-16 rounded-lg overflow-hidden flex-shrink-0 bg-gradient-to-br from-gray-100 to-gray-200 dark:from-white/[0.08] dark:to-white/[0.04] shadow-sm">
            <img
              src={post.thumbnail}
              alt={post.title}
              class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-300"
              loading="lazy"
            />
          </div>
          <div class="flex-1 min-w-0 flex flex-col justify-center">
            <h3 class="text-sm font-medium text-gray-900 dark:text-gray-300 group-hover:text-blue-600 dark:group-hover:text-blue-400 transition-colors line-clamp-2 leading-snug mb-1.5">
              {post.title}
            </h3>

            <div class="flex items-center gap-1.5">
              <img
                src={SiteConfig.author.avatar}
                alt={SiteConfig.author.name}
                class="w-4 h-4 rounded-full object-cover"
                loading="lazy"
              />

              <span class="text-[11px] font-medium text-gray-700 dark:text-gray-300">
                {SiteConfig.author?.name || "Framesta"}
              </span>

              <span class="text-[10px] text-gray-400">&middot;</span>

              <time
                class="text-[11px] text-gray-500 dark:text-gray-400 whitespace-nowrap block"
                datetime={post.publishedAt}
              >
                {formatDate(post.publishedAt)}
              </time>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
